<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Admin Registration Form</title>
</head>
<body>
    <div class='centered'>
        <% if(errors)
            {
                errors.forEach(function(error){ %>
                    <div style="color:red; font-size:15px" class='errorMsg'>*<%= error.msg %></div>

            <%    });

            }
        
        %>
    <h1>Admin Register Here</h1>

    <form action='/register/admin/save' method='post'>
            
                    <table>
                        <tr>
                            <td><label>Name : </label></td>
                            <td><input type='text' name='name' /></td>
                        </tr>
            
                        <tr>
                             <td><label>Email : </label></td>
                             <td><input type='text' name='email' /></td>
                        </tr>
            
                        <tr>
                            <td><label>Password : </label></td>
                            <td><input type='password' name='password' /></td>
                        </tr>
                        
                        <tr>
                                <td></td><td><br/><input type='submit' value='Register'></td>
                        </tr>
               
                    </table>
            
    </form>
    </div> 
</body>
</html>