<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title> StudentLogin Page</title>
</head>
<body>
    <div class='centered'>
            <% if(success_msg!=''){ %>
                <div id='successmsg' style='color: green'><%= success_msg %></div>
            <%}%>
            
    <h1>Login Page for Student</h1>
   
    <form action='/login/student/auth' method='post'>
        <table>
            <tr>
                <td><lable>User Name : <label></td>
                <td><input type='text' name='name'></td>
            </tr>
            <tr>
                 <td><lable> Password  : <label></td>
                <td><input type='password' name='password'></td>
            </tr>
            <tr>
                 <td></td>
                     <td><br/><input type='submit'value='Login'/></td>
            </tr>
        </table>
      
    </form>
    <br/><br/>
        
    <p>New User Register <a href='http://localhost:3000/register/student'>Here</a></p>
</div>
</body>
</html>