<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>DTH Home Page</h1><br/>
    
    <a href='/subscribe'>Subscribe for a channel</a><br/>
    <a href='/viewSubscription'>View Customer subscription Details</a><br/><br/><br/>

    <span id='span' style='color:green'> <%= data!=""?data:"" %>  </span>
  </body>
</html>
