<!DOCTYPE html>
<html>
  <head>
    <title>View Details Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>View Details Form</h1><br/>
    <form action='/viewSubscription/details' method='post' onsubmit="showCustomer(this.value)">
        
                <label>Subscription Id:</label>
                <input type='text' name='csid' ><br/><br/>
               
        <input type='submit' value='Clear'>
        <input type='submit' value='View Subscription Details'>
    </form>
    
    
  </body>
</html> 